$australia_color1: #065a34;
$australia_color2: #ebbc00;
$australia_color3: #e94e24;

$saudi_arabia_color1: #807575;
$saudi_arabia_color2: #f7dc8b;
$saudi_arabia_color3: #d84e4e;

$south_africa_color1: #8b5400;
$south_africa_color2: #eabb00;
$south_africa_color3: #bc7100;

$chile_color1: #567a99;
$chile_color2: #badff5;
$chile_color3: #7db1de;

$malaysia_color1: #94b300;
$malaysia_color2: #f7f280;
$malaysia_color3: #b3d800;