@import "colors";
@import "mixins";


body {
  font-size: 1em;
}

.introduction {
  font-size:13px;
}

.section {
  font-size:13px;
}

.section.home {
  .background {
    position: relative;
    margin: 0 auto;
    max-width: 2000px;
    width: 100%;
  }
  .title {
    position: absolute;
    top: 5%;
    width: 45%;
    left: 35%;
    text-align: left;
    color: white;
    
    .site-title {
      color: white;
      font-weight: normal;
      font-family: "AkzidenzGroteskBQCondensedBold";
      font-size: 1.7em;
      letter-spacing: 0px;
      text-transform: uppercase;
      text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.3);
      padding: 0;
      margin: 0; 
    }
  
    h1 {
      font-family: "AkzidenzGroteskBQCondensedBold";
      color: white;
      font-weight: bold;
      font-size: 3em;
      letter-spacing: 1px;
      text-transform: uppercase;
      text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.3);
      padding: 10px 0 10px;
      margin: 0; 
    }
  }

  .country-switcher {
    
    position: absolute;
    bottom: -7%;
    width: 100%;
    font-size: 1.2em;
    font-family: "muroslant", Arial;
    
    .country-block {
      display:inline-block; 
      max-width:12%;
      margin:0 1% 0 1%;
      text-decoration: none;
      text-transform: uppercase;
      white-space:nowrap;
      
      p {
        margin-top:8px;
      }
    
      a {
        text-decoration: none;
        color: #333333;
      }
      
      &.australia {
        a:hover {color: $australia_color2;}
        color: $australia_color2;
      }
      
      &.saudi_arabia { 
        a:hover {color: $saudi_arabia_color2;}
        color: $saudi_arabia_color2;
      }
      
      &.south_africa { 
        a:hover {color: $south_africa_color2;}
        color: $south_africa_color2;
      }
      
      &.chile { 
        a:hover {color: $chile_color2;}
        color: $chile_color2;
      }
      
      &.malaysia { 
        a:hover {color: $malaysia_color2;}
        color: $malaysia_color2;
      }

    }
  }
}

.section.about {
  h2 {
    width:220px;
  }
}

.section.itinerary {
  h2 {
    width:300px;
  }
}

.section.slideshow {
  h2 {
    width:260px;
  }
}

#filters > .btn-custom {
  width:85px;
}

#slideshow-container {
  
  position: relative;
  margin: 0 auto;
  //border: solid 1px red;
  width: 100%;
  height: 800px;
  
  
  .item {
    margin: 3px;
  }
}

// AUSTRALIA

.australia {
  hr {border-color: $australia_color1;}
  .subMenu {
    background: $australia_color1;
    li.active { background: $australia_color3; }
    li:hover { background: $australia_color2; }
  }
  @include customized_button ($australia_color1);
}


// SAUDI ARABIA

.saudi_arabia {
  hr {border-color: $saudi_arabia_color1;}
  .subMenu {
    background: $saudi_arabia_color1;
    li.active { background: $saudi_arabia_color3; }
    li:hover { background: $saudi_arabia_color2; }
  }
  @include customized_button ($saudi_arabia_color1);
}

// SOUTH AFRICA

.south_africa {
  hr {border-color: $south_africa_color1;}
  .subMenu {
    background: $south_africa_color1;
    li.active { background: $south_africa_color3; }
    li:hover { background: $south_africa_color2; }
  }
  @include customized_button ($south_africa_color1);
}

// CHILE

.chile {
  hr {border-color: $chile_color1;}
  .subMenu {
    background: $chile_color1;
    li.active { background: $chile_color3; }
    li:hover { background: $chile_color2; }
  }
  @include customized_button ($chile_color1);
}

// MALAYSIA

.malaysia {
  hr {border-color: $malaysia_color1;}
  .subMenu {
    background: $malaysia_color1;
    li.active { background: $malaysia_color3; }
    li:hover { background: $malaysia_color2; }
  }
  @include customized_button ($malaysia_color1);
}


// Media Queries



/* Large desktop */
@media (min-width: 1200px) {
  .section.home .title {
    top: 12%;
    width: 30%;
    left: 54%;
  }
}

/* Very Large desktop */
@media (min-width: 1600px) {
  .section.home {
    .title {
      top: 10%;
      width: 30%;
      left: 54%;
    }
    
     .country-switcher {
       font-size: 1.4em;
       bottom: 5%;
     }
   }
}


/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px)  {
  .section.home {
    
    .title {
      top: 5%;
      width: 70%;
      left: 20%;
      font-size: 0.9em;
      line-height: 1.3em;
    
      .site-title {
        font-size: 1.1em;
      }
  
      h1 {
        font-size: 2em;
        padding: 3px 0 3px;
      }
    }
    
    .country-switcher {
      font-size: 1em;
      bottom: -10%;
      
      .country-block {
        display:inline-block; 
        max-width:12%;
        margin:0 1% 0 1%;
      }
    }
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .section.home {
    .title {
      top: 5%;
      width: 80%;
      left: 10%;
      font-size: 0.8em;
      line-height: 1.2em;
    
      .site-title {
        font-size: 1em;
      }
    
      h1 {
        font-size: 2em;
        padding: 0px;
      }
    }
    .country-switcher {
      font-size: 0.8em;
      bottom: -20%;
      
      .country-block {
        display:inline-block; 
        max-width:16%;
        margin:0 1% 0 1%;
      }
    }
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  body {
    margin:0px;
    padding: 0px;
  } 
  .section.home {
    .title {
      p.introduction {
        display: none;
      }
    }
  }
  .section.about p {
    padding: 10px;
    font-size: 0.8em;
  }
  
  h2 {
    font-size:2em;
    width: 180px;
  }
  
  .section {
    min-height: 100px;
    max-height: 1000px;
  }
  
.itinerary, .slideshow {
    margin: 0;
    padding: 35px 0;
  }
}

