
@font-face {
    font-family: 'droid_sans';
    src: url('droid_sans-webfont.eot');
    src: url('droid_sans-webfont.eot?#iefix') format('embedded-opentype'),
         url('droid_sans-webfont.woff') format('woff'),
         url('droid_sans-webfont.ttf') format('truetype'),
         url('droid_sans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'HelveticaNeueCondensedBold';
    src: url('/fonts/helveticaneue-condensedbold.eot');
    src: url('/fonts/helveticaneue-condensedbold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/helveticaneue-condensedbold.woff') format('woff'),
         url('/fonts/helveticaneue-condensedbold.ttf') format('truetype'),
         url('/fonts/helveticaneue-condensedbold.svg#HelveticaNeueCondensedBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'muroslant';
    src: url('/fonts/muroslant-webfont.eot');
    src: url('/fonts/muroslant-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/muroslant-webfont.woff') format('woff'),
         url('/fonts/muroslant-webfont.ttf') format('truetype'),
         url('/fonts/muroslant-webfont.svg#muroslant') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AkzidenzGroteskBQCondensedBold';
    src: url('/fonts/akzidenzgroteskbq-bdcnd.eot');
    src: local('☺'),
         url('/fonts/akzidenzgroteskbq-bdcnd.eot?#iefix') format('embedded-opentype'),
         url('/fonts/akzidenzgroteskbq-bdcnd.woff') format('woff'),
         url('/fonts/akzidenzgroteskbq-bdcnd.ttf') format('truetype'),
         url('/fonts/akzidenzgroteskbq-bdcnd.svg#AkzidenzGroteskBQCondensedBold') format('svg');
    font-weight: normal;
    font-style: normal;
}



