

.decoration {
  position: absolute;
  height: 80%;
  top: 0px;
  left:0px;
  width:100%;
  background: url('/images/background/australia/main.png') repeat-x top;
  background-size: 100% 100%;
  
  .bottom {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width:100%;
    background: url('/images/background/australia/bottom.png') repeat-x bottom;
    background-size: auto 100%;
  }
  
  .bottom-layr2 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 100%;
    width:100%;
    background: url('/images/background/australia/bottom-layr2.png') repeat-x bottom;
    background-size: auto 100%;
  }
  
  .deco1-layr2 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 100%;
    width:100%;
    background: url('/images/background/australia/deco1-layr2.png') no-repeat 30% 100%;
    background-size: auto 100%;
  }
  
  .tunland {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 100%;
    width:100%;
    background: url('/images/background/australia/tunland.png') no-repeat 80% 100%;
    background-size: auto 100%;
  }
  
  .bottom-layr3 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 100%;
    width:100%;
    background: url('/images/background/australia/bottom-layr3.png') no-repeat bottom center;
    background-size: auto 100%;
  }
  
  .left {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 100%;
     width: 100%;
    
    img {
      height: 100%;
      width: auto;
    }
  }
  
  .right {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 100%;
    width: auto;
    img {
      height: 100%;
      width: auto;
    }
  }
  
  .title {
    position: absolute;
    top: 10%;
    left: 30%;
    width: 30%;
    color: white;
    z-index: 20;
  
    .site-title {
      color: white;
      font-weight: bold;
      font-size: 30px;
      letter-spacing: 0px;
      text-transform: uppercase;
      text-shadow: 3px 1px 0 rgba(0, 0, 0, 0.3);
      padding: 0;
      margin: 0; 
    }
  
    h1 {
      font-family: "AkzidenzGroteskBQCondensedBold";
      color: white;
      font-weight: bold;
      font-size: 4em;
      letter-spacing: 1px;
      text-transform: uppercase;
      text-shadow: 3px 1px 0 rgba(0, 0, 0, 0.3);
      padding: 0;
      margin: 0; 
    }

  }
}