

#slideshow {
  
  margin: 0 auto;
  width: 100%;
  
  .item {
    margin: 3px;
  }
  
  img {
    border: solid white 1px;
  }
  
  
   .img1 {
    width: 250px;
    height: 250px;
    border: solid white 0px;
  }
  
  .img2 {
    width: 123px;
    height: 123px;
    border: solid white 0px;
  }
}