@import "colors";
@import "mixins";

@mixin home_scene($country) {
  .decoration {
    background-image: url('/images/background/#{$country}/main.png');
    .bottom {
      background-image: url('/images/background/#{$country}/bottom.png');
    }
    .bottom-layr2 {
      background-image: url('/images/background/#{$country}/bottom-layr2.png');
    }
    .deco1-layr2 {
      background-image: url('/images/background/#{$country}/deco1-layr2.png');
    }
    .tunland {
      background-image: url('/images/background/#{$country}/tunland.png');
    }
    .bottom-layr3 {
      background-image: url('/images/background/#{$country}/bottom-layr3.png');
    }
  }
  .map { background-image: url('/images/itinerary/#{$country}.jpg') };
}


// AUSTRALIA

.australia {
  hr {border-color: $australia_color1;}
  .subMenu {
    background: $australia_color1;
    li.active { background: $australia_color3; }
    li:hover { background: $australia_color2; }
  }
  @include home_scene(australia);
  @include customized_button ($australia_color1);
}


// SAUDI ARABIA

.saudi_arabia {
  hr {border-color: $saudi_arabia_color1;}
  .subMenu {
    background: $saudi_arabia_color1;
    li.active { background: $saudi_arabia_color3; }
    li:hover { background: $saudi_arabia_color2; }
  }
  @include home_scene(saudi_arabia);
  .deco1-layr2 {
    background-position: 20% 68%;
  }
  .tunland {
    background-position: 70% 100%;
  }
  @include customized_button ($saudi_arabia_color1);
}

// SOUTH AFRICA

.south_africa {
  hr {border-color: $south_africa_color1;}
  .subMenu {
    background: $south_africa_color1;
    li.active { background: $south_africa_color3; }
    li:hover { background: $south_africa_color2; }
  }
  @include home_scene(south_africa);
  .deco1-layr2 {
    background-position: 20% 70%;
  }
  .tunland {
    background-position: 90% 70%;
  }
  @include customized_button ($south_africa_color1);
}

// CHILE

.chile {
  hr {border-color: $chile_color1;}
  .subMenu {
    background: $chile_color1;
    li.active { background: $chile_color3; }
    li:hover { background: $chile_color2; }
  }
  @include home_scene(chile);
  .bottom-layr3 {
    background-repeat: repeat-x;
    background-position: 0% 100%;
  }
  .bottom-layr4 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 100%;
    width:100%;
    background: url('/images/background/chile/bottom-layr4.png') repeat-x bottom left;
    background-size: auto 100%;
  }
  .tunland {
    background-position: 30% 100%;
  }
  @include customized_button ($chile_color1);
}

// MALAYSIA

.malaysia {
  hr {border-color: $malaysia_color1;}
  .subMenu {
    background: $malaysia_color1;
    li.active { background: $malaysia_color3; }
    li:hover { background: $malaysia_color2; }
  }
  @include home_scene(malaysia);
  .bottom-layr3 {
    background-repeat: repeat-x;
    background-position: 0% 100%;
  }
  .tunland {
    background-position: 40% 70%;
  }
   @include customized_button ($malaysia_color1);
}


.country-switcher {
  
  li:hover, li.active {
    &.australia {
      img { border-color: $australia_color2; }
      a {color: $australia_color2;}
    }
    &.saudi_arabia { 
      img { border-color: $saudi_arabia_color2; }
      a {color: $saudi_arabia_color2;}
    }
    &.south_africa { 
      img { border-color: $south_africa_color2; } 
      a {color: $south_africa_color2;}
    }
    &.chile { 
      img { border-color: $chile_color2; } 
      a {color: $chile_color2;}
    }
    &.malaysia { 
      img { border-color: $malaysia_color2; }
      a {color: $malaysia_color2;}
    }
  }
  
}







