.container-fluid
  .row-fluid
    %hr
    %h2= t :itinerary

.container-fluid
  .row-fluid
    .span12
      %center
        = image_tag "itinerary/world.jpg"
        -#= image_tag "itinerary/#{country}.jpg"