---
title: Discovery
layout: fixed
---

.section.home
  = partial "partials/fixed/home", :locals => {:country => country}
.section.about
  = partial "partials/fixed/about", :locals => {:country => country}
.section.itinerary
  = partial "partials/fixed/itinerary", :locals => {:country => country}
.section.slideshow
  = partial "partials/fixed/slideshow", :locals => {:country => country}
