---
title: Discovery
---

.container-fluid  
  = partial "partials/home", :locals => {:country => country}
  = partial "partials/about", :locals => {:country => country}
  = partial "partials/itinerary", :locals => {:country => country}
  = partial "partials/slideshow", :locals => {:country => country}