---
title: Welcome to Foton Discovery
---
#home-container
  %h1.welcome
    Tunland
    %br
    Voyage
    
  .countries
    %ul
      - %w[australia saudi_arabia south_africa].each do |country|
        = link_to "/#{country}.html" do 
          %li.welcome
            = country